<!-- <div class="mat-elevation-z8"> -->
    <h1 mat-dialog-title>Edit a user</h1>
    <div mat-dialog-content class="example-container">
      
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
              <input matInput type="text" [(ngModel)]="data.username" placeholder="Username">
            </mat-form-field>
        <mat-form-field>
            <mat-label>Select a role</mat-label>
            <mat-select [(value)]="data.role_id">
                <mat-option *ngFor="let role of listeRole" [value]="role.id">
                    {{role.value}}
                </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-raised-button color="primary" (click)="editUser()" cdkFocusInitial>Update</button>
    </div>
  <!-- <table class="table smart-form table-striped">
    <thead>
      <tr>
          <th></th>
        <th>Code</th>
        <th>Libellé</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listeRole|paginate: {itemsPerPage: 10,currentPage: p,totalItems: listeRole.length:0}; let i=index">
            <td>{{((p-1)*10)+i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.value}}</td>
            <td>
              <span> <i class="fa fa-trash"></i></span>
              <span><i class="fa fa-pencil"></i></span>
            </td>
        </tr>
        <tr *ngIf="!listeRole||listeRole&&listeRole.length==0">
            <td colspan="3" class="text-center">Aucune donnée</td>
        </tr>
      </tbody>
  </table>
  <div *ngIf="listeRole.length!==0" class="col-sm-12 col-xs-12 text-right">
          <pagination-controls class="my-pagination" previousLabel="Précédent"
          nextLabel="Suivant" (pageChange)="pageChanged($event)"></pagination-controls>
  </div> -->
<!-- </div> -->
