<h1 class="title">My Spots</h1>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="listeClient" matSort aria-label="Elements">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
      <td mat-cell *matCellDef="let row">{{row.number}}</td>
    </ng-container>

    <ng-container matColumnDef="floor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor</th>
      <td mat-cell *matCellDef="let row">{{row.floor.name}}</td>
    </ng-container>
    <ng-container matColumnDef="occupied">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Occupied</th>
        <td mat-cell *matCellDef="let row">{{row.occupied?'Yes':'No'}}</td>
      </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let row"> 
            <div class="example-button-row">
          <button mat-mini-fab color="{{row.occupied?'warn':'primary'}}" (click)="manageClientAssignation(row)" aria-label="icon-button with a edit icon">
              <mat-icon>{{row.occupied?'minimize':'add'}}</mat-icon>
          </button>
          <!-- <button mat-mini-fab color="warn" (click)="confirmDeleteClient(row)" aria-label="icon-button with a delete icon">
              <mat-icon>delete</mat-icon>
          </button> -->
        </div> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator #paginator
      [length]="listeClient.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  <!-- <table class="table smart-form table-striped">
    <thead>
      <tr>
          <th></th>
        <th>Code</th>
        <th>Libellé</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listeClient|paginate: {itemsPerPage: 10,currentPage: p,totalItems: listeClient.length:0}; let i=index">
            <td>{{((p-1)*10)+i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.value}}</td>
            <td>
              <span> <i class="fa fa-trash"></i></span>
              <span><i class="fa fa-pencil"></i></span>
            </td>
        </tr>
        <tr *ngIf="!listeClient||listeClient&&listeClient.length==0">
            <td colspan="3" class="text-center">Aucune donnée</td>
        </tr>
      </tbody>
  </table>
  <div *ngIf="listeClient.length!==0" class="col-sm-12 col-xs-12 text-right">
          <pagination-controls class="my-pagination" previousLabel="Précédent"
          nextLabel="Suivant" (pageChange)="pageChanged($event)"></pagination-controls>
  </div> -->
</div>
