<mat-card>
    <mat-card-title>Park manager App</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <input type="text" id="username" matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" id="password" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
  </p>

  <!-- <p *ngIf="username.errors.required" class="error">
    Email is required
  </p>
  <p *ngIf="username.errors.pattern" class="error">
      Email is not correct
  </p>
  <p *ngIf="password.errors.required" class="error">
      Password is required
  </p> -->


  <div class="button">
    <button type="submit" mat-raised-button color="primary" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>