<!-- <div class="mat-elevation-z8"> -->
    <h1 mat-dialog-title>Create a spot</h1>
    <div mat-dialog-content class="example-container">
      
      <mat-form-field>
        <input matInput type="number" min="1" [(ngModel)]="data.number" placeholder="Number">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Select a floor</mat-label>
          <mat-select [(value)]="data.floor_id">
              <mat-option *ngFor="let floor of listeFloor" [value]="floor.id">
                  {{floor.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-raised-button color="primary" (click)="createSpot()" cdkFocusInitial>Create</button>
    </div>
