<!-- <div class="mat-elevation-z8"> -->
<h1 mat-dialog-title>Create a user</h1>
<div mat-dialog-content class="example-container">

    <mat-form-field>
        <input matInput type="text" [(ngModel)]="data.email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="data.username" placeholder="Username">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" [(ngModel)]="data.password" placeholder="Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select a role</mat-label>
        <mat-select [(value)]="data.role_id">
            <mat-option *ngFor="let role of listeRole" [value]="role.id">
                {{role.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" (click)="createUser()" cdkFocusInitial>Create</button>
</div>