<!-- <div class="mat-elevation-z8"> -->
    <h1 mat-dialog-title>Edit a floor</h1>
    <div mat-dialog-content class="example-container">
      
      <mat-form-field>
        <input matInput [(ngModel)]="data.name" placeholder="Name">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-raised-button color="primary" (click)="editFloor()" cdkFocusInitial>Update</button>
    </div>