<h1 class="title">Floor</h1>
<br>
<button mat-raised-button color="primary" class="create" (click)="openCreateFloorModal()" aria-label="icon-button with a add icon">
    Create a floor
</button>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="listeFloor" matSort aria-label="Elements">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let row"> 
            <div class="example-button-row">
          <button mat-mini-fab color="primary" (click)="openEditFloorModal(row)" aria-label="icon-button with a edit icon">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="confirmDeleteFloor(row)" aria-label="icon-button with a delete icon">
              <mat-icon>delete</mat-icon>
          </button>
        </div> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator #paginator
      [length]="listeFloor.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
