<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="dashboard">Dashboard</a> -->
      <a mat-list-item routerLink="floor">Floor</a>
      <a mat-list-item routerLink="spot">Spot</a>
      <a mat-list-item routerLink="role">Role</a>
      <a mat-list-item routerLink="user">User</a>
      <a mat-list-item routerLink="client">Dashboard</a>
    </mat-nav-list>
    <br>
    <mat-nav-list>
        <a mat-list-item>
            <button mat-raised-button color="primary" (click)="logout()" aria-label="icon-button with a add icon">
                Logout
            </button>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Park manager App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
